.button {
  padding: var(--padding);
  font-size: var(--fontSize);
  font-weight: 500;

  i-feather {
    width: var(--iconWidth);
    height: var(--iconWidth);
    display: flex;
    align-items: center;
  }
}
