@use "_palettes" as palettes;
@use "@angular/material" as mat;

:host {
  width: 100%;
  display: flex;
  border-bottom: 1px solid
    mat.get-color-from-palette(palettes.$grey-variant, 70);
}

.back-arrow {
  margin: 0 0 12px -12px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
