@use "@angular/material" as mat;
@use "_palettes" as palettes;

.mdc-tab {
  min-width: auto !important;
}

.mat-mdc-tab-nav-bar,
.mat-mdc-tab-header {
  border-bottom: 1px solid
    mat.get-color-from-palette(palettes.$grey-variant, 70) !important;
  margin-bottom: 16px;
}
