@use "@angular/material" as mat;
@use "_palettes" as palettes;

.mdc-checkbox {
  width: 22px !important;
  height: 22px !important;
  flex: 0 0 22px !important;
}

.mat-mdc-checkbox label {
  padding-left: 0 !important;
}

.mdc-checkbox__background {
  margin-top: 1px;
  margin-left: 1px;
  width: 22px !important;
  height: 22px !important;
  border: 1px solid mat.get-color-from-palette(palettes.$grey-variant, 60) !important;
  border-radius: 4px !important;
}

.mat-mdc-checkbox-checked .mdc-checkbox__background {
  border: 1px solid mat.get-color-from-palette(palettes.$mat-primary, main) !important;
}

.mdc-checkbox__checkmark {
  padding: 5px !important;
}

.mdc-checkbox__checkmark-path {
  stroke-width: 3px !important;
}
