@use "@angular/material" as mat;
@use "_palettes" as palettes;

.mat-mdc-button-base {
  --mdc-shape-small: 4px;
}

.mat-mdc-button {
  &.mat-primary {
    --mdc-text-button-label-text-color: mat.get-color-from-palette(
      palettes.$mat-primary,
      main
    );
    background: palettes.$whitish;
    border: 2px solid mat.get-color-from-palette(palettes.$mat-primary, main);
  }

  &.mat-accent,
  &.active {
    --mdc-text-button-label-text-color: #{palettes.$whitish};
    background: mat.get-color-from-palette(palettes.$mat-accent, main);
    border: 2px solid mat.get-color-from-palette(palettes.$mat-accent, main);
  }
}

.mat-mdc-button[disabled][disabled] {
  --mdc-filled-button-disabled-container-color: #{mat.get-color-from-palette(
      palettes.$grey-variant,
      80
    )};
  --mdc-filled-button-disabled-label-text-color: #{mat.get-color-from-palette(
      palettes.$grey-variant,
      50
    )};
}

.mat-mdc-button:focus:not([disabled]) {
  outline-offset: 4px;
  outline-color: palettes.$blackish;
}

.mat-mdc-button.icon-only {
  display: inline-flex;
  align-items: center;
  min-width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}
